{% extends '_base.html' %}
{% load static %}
{% load extras %}
{% block title %}WebSites List{%endblock title %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/card.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %} " />
<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} " />
<style>
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .testimonial {
        /* background-color: #f3f3f3; */
        border-radius: 5px;
        padding: 30px;
        margin: 0 15px;
        background: rgba(255, 255, 255, 0.8);
        height: 200px;
    }

    .testimonial .pic {
        width: 90px;
        height: 90px;
        margin: 0 30px 15px 0;
        float: left;
    }

    .testimonial .pic img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .testimonial .pic p {
        position: absolute;
        bottom: -8px;
        color: #888888;
    }

    .testimonial .testimonial-title {
        color: #000000;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 800;
        text-transform: capitalize;
    }

    .testimonial .testimonial-title small {
        display: block;
        color: #dc005a;
        font-size: 14px;
        font-weight: 800;
        margin-top: 10px;
    }

    .testimonial .testimonial-review p {
        color: #888888;
        font-size: 15px;
        font-style: italic;
        line-height: 19px;
        margin-bottom: 0;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .owl-theme .owl-controls {
        margin-top: 20px;
    }

    .owl-theme .owl-controls .owl-page span {
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 1;
    }

    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: #fff;
        border: 1px solid #cdcdcd;
    }

    .owl-pagination {
        margin-top: 40px;
    }

    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: #3f4144;
        border: 3px solid #fff;
    }

    @media screen and (max-width: 990px) {
        .testimonial-parallax h2 {
            margin-bottom: 40px;
        }

        .testimonial {
            margin: 0;
        }
    }

    .card {
        overflow: hidden;
        opacity: 0.8;
        transition: all .5s;
    }

    .card:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        opacity: 1;
    }

    .card img {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        object-fit: cover;
        width: 100%;
        max-height: 250px;
    }

    .card img:hover {
        opacity: 0.6;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .pagination {
        position: relative;
    }
    .pagination .page-link{
        background: rgba(255, 255, 255, 0.7);
    }
    .pagination .page-link:hover{
        background: #fff;
    }
</style>
{% endblock %}
{% block content %}
<!-- ----------------------------------------------------------------------- -->
<!-- SITE -->
<nav id="applications" class="navbar navbar-light shadow-sm bg-light rounded"
    style="margin-bottom: 24px;background:rgba(248,249,250,.7)!important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#applications">
            <i>🌐</i>&nbsp; Applications
        </a>
        <div>
            <span>
                IP <span class="badge rounded-pill bg-info bg-gradient text-dark">{{ip}}</span>
            </span>
        </div>
    </div>
</nav>
<div class="applications row row-cols-1 row-cols-md-3 row-cols-xxl-3 g-4">
    {% for site in page_obj %}
    {% site_url site is_internal_ip as url %}
    <div class="col">
        <div class="card" data-id="{{site.id}}" data-url="{{url|default:'#'}}">
            <img src="{% static site.cover_img %}" class="card-img-top" alt="{{url|default:'#'}}"
                style="cursor: pointer;" />
            <div class="card-body">
                <h5 class="card-title">{{site.title}}</h5>
                <p class="card-text">
                    {%if site.description|length >= 100 %}
                    {{site.description|slice:"100"}}... {%else%}
                    {{site.description}} {%endif%}
                </p>
            </div>
            <div class="card-footer" style="display: flex;justify-content: space-between;align-items: flex-end;">
                <small class="text-muted">{{site.start_date}}</small>
                <span>
                    <span class="site-favorite badge rounded-pill bg-info text-danger" style="cursor: pointer;"
                        data-type="site">♥ <span class="favorite-count">{{site.favorite}}</span></span>
                    <span class="badge rounded-pill bg-info text-dark"><a href="{{url|default:'#'}}"
                            class="card-link text-decoration-none text-white">link</a></span>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1&type=site" target="_self">&laquo;First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&type=site" target="_self">&laquo;
                Previous</a>
        </li>
        {% endif %}
        <li class="page-item"><a class="page-link">Page {{ page_obj.number }} of
                {{page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&type=site" target="_self">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&type=site" target="_self">Last
                &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- ----------------------------------------------------------------------- -->
<!-- POST -->
<nav id="posts" class="navbar navbar-light shadow-sm bg-light rounded"
    style="margin-bottom: 24px;background:rgba(248,249,250,.7)!important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#applications">
            <i>📰</i>&nbsp; Posts
        </a>
        <div>
            <span>
                IP <span class="badge rounded-pill bg-info bg-gradient text-dark">{{ip}}</span>
            </span>
        </div>
    </div>
</nav>
<div class="posts row row-cols-1 row-cols-md-1 row-cols-xxl-2">
    {% for post in posts_page_obj %}
    <div class="col">
        <div class="card mb-3" data-id="{{post.id}}" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static post.cover_img %}" alt="{{post.title}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.abstract}}</p>
                        <p class="card-text">
                            <small class="text-muted">{{post.created_time}}</small>
                            <span class="site-favorite badge rounded-pill bg-info text-danger" style="cursor: pointer;"
                                data-type="post">♥ <span class="favorite-count">{{post.favorite}}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        {% if posts_page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1&type=post" target="_self">&laquo;First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts_page_obj.previous_page_number }}&type=post" target="_self">&laquo;
                Previous</a>
        </li>
        {% endif %}
        <li class="page-item"><a class="page-link">Page {{ posts_page_obj.number }} of
                {{posts_page_obj.paginator.num_pages }}</a></li>

        {% if posts_page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts_page_obj.next_page_number }}&type=post" target="_self">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts_page_obj.paginator.num_pages }}&type=post" target="_self">Last
                &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}
{% block footer %}
<div class="row">
    <div class="col-md-12 pt50">
        <div id="testimonial-slider" class="owl-carousel">
            {% for staff in staff_list %}
            <div class="testimonial">
                <div class="pic">
                    <img src="{% static staff.avatar %}" />
                    <p>Email: {{staff.email | default:'Private (⌐■_■)'}}</p>
                </div>

                <div class="testimonial-review">
                    <h4 class="testimonial-title">
                        {{staff.name}}
                        <small>{{staff.positions}}</small>
                    </h4>
                    <p>{{staff.profile}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% comment %}
    <div id="testimonial-slider" class="owl-carousel">
        <div class="testimonial">
            <div class="testimonial-profile">
                <a href="#"><img src="images/1.jpg" alt="" /></a>
            </div>
            <div class="testimonial-content">
                <h3 class="testimonial-title"><a href="#">Williamson</a></h3>
                <span class="testimonial-post">Web Designer</span>
                <p class="testimonial-description">......</p>
                <ul class="social-links">
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-pinterest"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endcomment %}
</div>
{% endblock footer %}
{% block extra_javascript %}
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %} "></script>
<script type="text/javascript">
    $(document).ready(function () {
        // toastr config
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: true,
            positionClass: "toast-top-right",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "2000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
        };
        // carousel config
        $("#testimonial-slider").owlCarousel({
            items: 2,
            itemsDesktop: [1000, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1],
            pagination: true,
            autoPlay: true,
        });

        // Sites redirect
        $(".applications .card img").click(function () {
            let url = $(this).parents(".card").data("url");
            location.href = url;
        });
        // Sites favorite
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFtoken", $.cookie("csrftoken"));
            },
        });
        $(".site-favorite").click(function () {
            let that = this;
            let id = $(that).parents(".card").data("id");
            let type = $(that).data('type')
            $.ajax({
                url: type == 'site' ? `/sites/${id}/favorite` : `/posts/${id}/favorite`,
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data.code == 0) {
                        toastr.success("Success!");
                        let node = $(that)
                            .parents(".card")
                            .find(".favorite-count");
                        node.text(Number(node.text()) + 1);
                    } else if (data.code == -1) {
                        toastr.info("You have already favorited!")
                    } else {
                        toastr.error(data.detail, "Errors!");
                    }
                },
            });
        });

        function hasScrollbar() {
            return (
                document.body.scrollHeight >
                (window.innerHeight || document.documentElement.clientHeight)
            );
        }
        if (!hasScrollbar()) {
            $("footer.footer").css({
                position: "absolute",
                bottom: "0",
                height: "300px",
            });
            $("body").css({
                overflow: "hidden"
            });
            $(".content").css({
                "padding-bottom": "300px",
            });
        }
    });
	/* DEMO2 */
    /*$(document).ready(function(){
        $("#testimonial-slider").owlCarousel({
            items:2,
            itemsDesktop:[1000,2],
            itemsDesktopSmall:[979,2],
            itemsTablet:[767,1],
            pagination: true,
            autoPlay:true
        });
    });*/
</script>
{% endblock extra_javascript %}