{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{% block title %}DjangoX{% endblock title %}</title>
    <meta name="description" content="A framework for launching new Django projects quickly.">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    {% block css %}
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <style>
        .body-bg {
            background: linear-gradient(141deg, #0fb8ad 0%, #76f1ff 51%, #2cb5e8 75%);
        }

        #ckLine {
            width: 100%;
            height: 100vh;
            position: fixed;
            background-color: rgba(255, 255, 255, .5);
            /* filter: blur(1px); */
        }
    </style>
    {% block extra_css %}{% endblock %}
    {% endblock %}
</head>

<body class="body-bg">
    <svg id="ckLine" xmlns="http://www.w3.org/2000/svg"></svg>
    <nav class="header-nav navbar navbar-expand-lg navbar-light bg-light shadow-sm rounded"
        style="background:rgba(248,249,250,.9)!important;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WebSites </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#applications">Applications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link toggle-btn" style="cursor: pointer;">Pure Color Bg</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        style="cursor: not-allowed;">
                    <button class="btn btn-outline-info" type="submit" style="cursor: not-allowed;">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <p>Default content...</p>
        {% endblock content %}
    </div>

    <footer class="footer">
        <div class="container">
            {% block footer %}
            <span class="text-muted">Footer...</span>
            {% endblock footer %}
        </div>
    </footer>

    {% block javascript %}
    <!-- 3rd party JavaScript -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/jquery.ckLine.min.js'%}"></script>

    <!-- Bootstrap JavaScript -->
    {% comment %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script> {% endcomment %}
    <script src="{% static 'js/bootstrap.min.js' %}"> -->
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

    <!-- Project JS -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_javascript %}{% endblock %}
    {% endblock javascript %}

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFtoken", $.cookie("csrftoken"));
                },
            });
            let toggle_theme = !('{{background}}' == 'line')
            let ckLine = null
            let toggle_fn = function (remote_flag = true) {
                if (toggle_theme == true) {
                    toggle_theme = false
                    ckLine && ckLine.destroy()
                    $('.toggle-btn').text('Dynamic Line Bg')
                    $('#ckLine').animate({
                        'opacity': 0
                    })
                    $('body').removeClass('body-bg')

                    remote_flag && $.ajax({
                        url: '/background/pure',
                        type: "POST",
                        dataType: "JSON",
                        success: function (data) {
                            if (data.code == 0) {
                                toastr.success("Success!");
                            } else {
                                toastr.info(data.detail, "Something Wrong!");
                            }
                        },
                    });
                } else {
                    toggle_theme = true
                    ckLine = $('#ckLine').ckLine({
                        leftRight: false,
                        strokeColor: 'rgba(255,255,255,0.4)',
                        interval: 1000,
                        // animateTime: 2000,
                        // lifeTime: 2000,
                        animationTimeRange: [800, 1600]
                    })
                    $('.toggle-btn').text('Pure Color Bg')
                    $('#ckLine').animate({
                        'opacity': 1
                    })
                    $('body').addClass('body-bg')

                    remote_flag && $.ajax({
                        url: '/background/line',
                        type: "POST",
                        dataType: "JSON",
                        success: function (data) {
                            if (data.code == 0) {
                                toastr.success("Success!");
                            } else {
                                toastr.info(data.detail, "Something Wrong!");
                            }
                        },
                    });
                }
            }
            toggle_fn(false)
            $('.toggle-btn').click(toggle_fn)
            setTimeout(() => {
                if (toggle_theme) {
                    toggle_theme = !toggle_theme
                    ckLine && ckLine.destroy()
                }
            }, 120 * 1000)
        })
    </script>
</body>

</html>